@import url('https://fonts.googleapis.com/css?family=Advent+Pro&display=swap');

html,body{
    margin:0;
    padding:0;
    width:100%;
    height: 100%;
    background-image:url(../img/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Advent Pro', sans-serif;
}

::-webkit-scrollbar{
  width: 18px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 10px;
  background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgb(65, 63, 63);
  background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}

/* -----------------APP----------------------------*/
#canvas-wrap { 
    position:relative; 
    width:100%;  
    height: 100%;
}

#canvas-wrap canvas { 
    position:absolute;
    z-index:300;
}

.containerp{
    width:100%;
    height:100%;
    position:absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index:900;
}

.createformrl{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:url(../img/lrw.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:1;
    border-radius:10px;
    font-family: 'Advent Pro', sans-serif;
    font-size:1.25;
    z-index:600;
}


.pokemon{
    width:100%;
    height:100%;
    display: flex;
    
    justify-content:center;
    position:absolute;

}

.pokemon1{
    width:60%;
    height:10%;
    background-color:rgba(64, 93, 167, 0.301);
    border-radius: 3%;
    transition:1.25s ease;
    margin-top:3%;

}


@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


.logos{
    width:50%;
    height:120%;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top:-3%;
}

.logos a{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.pokemonsword{
    width:100%;
    height: 100%;
    background-image:url(../img/logo-pokemon-sword.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
 
}

.nav{
    width:100%;
    height:100%;
    display: flex;
    justify-content:space-between;
    
}

.nav1{
    width:25%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
  
}


.nav11{
    text-decoration: none;
    font-family:'Advent Pro',sans-serif;
    padding:10px 10px;
    color:white;
    transition:0.5s ease;
    font-size:1.5em;
    margin:5px;
    border-radius:0%;
    
}


.nav11:hover{
    transform:scale(1.1);
    text-decoration: none;
    color:white;
    
}




.nav1 h3{
    font-family:'Advent Pro',sans-serif;
    font-size:1.5em;
    color:white;
    margin:0;
    background-color:rgba(0,0,0,0.3);
    padding:10px;
}

.nav13{
    text-decoration: none;
    font-family:'Advent Pro',sans-serif;
    padding:10px 10px;
    transition:0.5s ease;
    font-size:1.5em;
    margin:5px;
    border:0;
    color:white;
    background-color:transparent;
}


.nav13:hover{
     transform:scale(1.1);
     text-decoration: none;
     color:white;
}

.nav3{
    width:25%;
    text-decoration: none;
    font-family:'Advent Pro',sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    
}



.nav31{

    text-decoration: none;
    font-family:'Advent Pro',sans-serif;
    padding:10px 10px;
    color:white;
    transition:0.5s ease;
    font-size:1.5em;
    margin:5px;
    border-radius:0%;
}

.nav31:hover{
    transform:scale(1.2);
    text-decoration: none;
    color:white;
}


.containerp1{
    width:60%;
    height:70%;
    margin-top:2%; 
    z-index:900;

}
/*----------------------INDEX------------------------------*/
.indexc{
    width:100%;
    height:100%;
    background-color:rgba(6, 12, 27, 0.658);
    display:flex;
}

.indexc1{
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.indexc11{
    width:90%;
    height:90%;
    background-image:url(../img/charizard-Gigantamax.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.indexc2{
    padding:10%;
    width:50%;
    height:100%;
    color:white;
    font-family:'Advent Pro',sans-serif;
    
}

.indexc2 h1{
    font-size:3em;
    font-weight: 600;
    text-shadow: 2px 2px #000000;
}

.indexc2 p{
    font-size:1.5em;
    font-weight: 100;
    text-shadow: 2px 2px #000000;
}





/* -----------------BASE DE DATOS POKEMON-------------------*/

.database{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.database img{
    max-width: 300px;
}

.pokemoncard{
    width:200px;
    height:300px;
    background-color:rgba(6, 12, 27, 0.658);
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin-top:2%;
    border-radius:3%;
    box-shadow: 6px 10px rgba(245, 244, 244, 0.1);
   

}

.pokemonimage{
    width:90%;
    height:60%;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 50%;
  
}

.pokemonimage a{
    display:flex;
    justify-content:center;
    align-items:center;
         
}

.pokemonimage a img{
    width:80%;
    
}

.pokemoninfo{
    width:90%;
    height:35%;
    padding:8%;
    font-family:'Advent Pro',sans-serif;
    color:white;
    display:flex;
    background-color:rgba(0, 0, 0, 0.63);
    border-radius:6%;
}

.pokemoninfo h1{
    font-size:1.1em;
    text-shadow: 2px 2px #000000;
    margin-top:-5px;
}

.pokemoninfo1{
    width:70%;
}


.pokemoninfo1 h1 img{
    width:20px;

}

.pokemoninfo2{
    width:30%;
  
}

.pokemoninfo2 a{
   border-radius:50%;
   background-color:rgba(255, 255, 255, 0.747);
   padding:5px; 
   margin-top:17px;
   margin-left:7px;
}




.btnd{
    border-radius:50%;
    background-color:rgba(255, 255, 255, 0.747);
    width:30px;
    height:30px;
    border:0;
    margin:3px;
}

.pokemoninfo2 form{
    margin:3px;
}

.pokemonadd{
    position:fixed;
    padding:10px 30px;
    border:0;
    bottom:40px;
    background-color:rgba(121, 192, 121, 0.705);
    font-family:'Advent Pro',sans-serif;
    left:45%;
    right:45%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.75s ease;
    
}

.pokemonadd:hover{
    text-decoration: none;
    transform:scale(1.1);
    
}


.abiliteslist{
    position:fixed;
    padding:10px 30px;
    border:0;
    bottom:40px;
    background-color: rgba(255, 255, 255, 0.904);
    font-family:'Advent Pro',sans-serif;
    left:70%;
    right:20%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.5s ease;
    
}

.abiliteslist:hover{
    text-decoration: none;
    transform:scale(1.1);
    
}


/*--------------------CREATE------------------*/

.createformp{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.createformp1{
    width:80%;
    height:80%;
    background-color:rgba(6, 12, 27, 0.658);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.createformp11{
    width:60%;
    height:40%;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:center;
     background-color:rgba(255,255, 255, 0.458);
}

.createformp11 input[type=text]{
    margin-top:10px;
    padding:2px 148px;
}

.createformp11 input[type=number]{
    margin-top:10px;
    padding:2px 148px;
}

.createformp11 input[type=file]{
    margin-top:10px;
    padding:2px 80px;
}





.postadd2f{
    position:fixed;
    padding:10px 80px;
    border:0;
    background-color:rgba(121, 192, 121, 0.705);
    font-family:'Advent Pro',sans-serif;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.75s ease;
    
}

.postadd2f:hover{
    text-decoration: none;
    transform:scale(1.1);
    
} 

.formc1{
    padding:2%;
    color:white;
}

.pokemonback{
     position:fixed;
    padding:10px 30px;
    border:0;
    bottom:40px;
    background-color:rgba(158, 171, 233, 0.747);
    font-family:'Advent Pro',sans-serif;
    left:45%;
    right:45%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.75s ease;
}

.pokemonback:hover{
    text-decoration: none;
    transform:scale(1.1);
    
}

.pokemonsubmit{
    padding:10px 30px;
    border:0;
    background-color:rgba(158, 171, 233, 0.747);
    font-family:'Advent Pro',sans-serif;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.5s ease;
    text-transform: uppercase;
    margin-top:6%;

}

.pokemonsubmit:hover{
    text-decoration: none;
    transform:scale(1.1);
    
    
}

/*--------------------SHOW---------------------------*/
.showp{
    width:100%;
    height:100%;
    font-family: 'Advent Pro',sans-serif;
    display:flex;
   
}

.showp h1{
     font-size:1.75em;
}
.showp1{
    width:50%;
    height:100%;
    background-color:rgba(6, 12, 27, 0.658);
    border-radius:3%;
    color:white;
    padding:3%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.showp1 h1 img{
    width:35px;
}

.showp11{
    width:90%;
    height: 40%;
}

.abilitiesp{
    width:90%;
    height:40%;
  
    border-radius:3%;
    display: flex;
    flex-direction:column;
}

.abilitiesp1{
    width:100%;
    height:100%;
    overflow-y:scroll;
}

.ability{
    width:70%;
   background-color:rgba(9, 6, 19, 0.548);
    border-radius: 10%;
}

.newability{
    padding:3px 10px;
    border:0;
    background-color:rgba(158, 171, 233, 0.747);
    font-family:'Advent Pro',sans-serif;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.5s ease;
    text-transform: uppercase;
    margin-top:6%;

}

.newability:hover{
    text-decoration: none;
    transform:scale(1.1);
    
    
}

.newability img{
    width:40px;
    margin:4px;
}

.showp2{
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.showp2>img{
    width:60%;
}




/*---------------------ABILITIES-----------------*/

.databasea{
    width:100%;
    height:100%;
    overflow:hidden;
}

.abilitycard{
    width:100%;
    height:10%;
    background-color:rgba(0, 0, 0, 0.541);
    margin-top:2%;
   
    
}


.abilitycard1{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
}

.abilitycard h1{
    width:90%;
    font-family: 'Advent Pro', sans-serif;
    color:white;
    font-size:1.6em;
    margin:1%;
   
}

.abilitycard img{
    width:40px;
    margin:1%;
}

.abilitycard form{
    width:10%;
}

.abilitycard form button{
    border:0;
    background-color:transparent;
    
}

.abilityadd{
    position:fixed;
    padding:10px 30px;
    border:0;
    bottom:40px;
    background-color:rgba(121, 192, 121, 0.705);
    font-family:'Advent Pro',sans-serif;
    left:45%;
    right:45%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.75s ease;
    
}

.abilityadd:hover{
    text-decoration: none;
    transform:scale(1.1);
    
}

.pokemonbacka{
    position:fixed;
    padding:10px 30px;
    border:0;
    bottom:40px;
    background-color: rgba(255, 255, 255, 0.904);
    font-family:'Advent Pro',sans-serif;
    left:70%;
    right:20%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.5s ease;
    
}

.pokemonbacka:hover{
    text-decoration: none;
    transform:scale(1.1);
    
}


.abilityadd2{
    position:fixed;
    padding:10px 80px;
    border:0;
    bottom:40px;
    background-color:rgba(121, 192, 121, 0.705);
    font-family:'Advent Pro',sans-serif;
    left:45%;
    right:45%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.75s ease;
    
}

.abilityadd2:hover{
    text-decoration: none;
    transform:scale(1.1);
    
} 
/*-----------------------FORO---------------------*/

.containerf{
    width:100%;
    height:100%;
    font-family:'Advent Pro',sans-serif;
}



.postcard{
    width:100%;
    height:300px;
    background-color:rgba(6, 12, 27, 0.658);
    margin-top:2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
   
}

.postcarda{
    width:100%;
    height:100%;
    text-decoration: none;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.postcarda:hover{
    cursor:pointer;
    text-decoration:none;
    color:white;
}

.postcard1{
    width:90%;
    height: 90%;
    display: flex;
    flex-direction:column;

}

.postcard1 p,h1{
    margin:0;
}

.postcard11{
    width:90%;
    height:15%;
    display: flex;
    align-items:center;
    background-color:rgba(8, 100, 238, 0.2);
    padding-left:6px;
}

.postcardtag{
    padding:1px 10px;
    background:green;
    border-radius:5px;
    height:50%;
}

.postcardtag p{
    margin:0;
}

.postcard111{
    height:80%;
    margin-left:20px;
    display:flex;
    align-items:center;
 
 
}

.postcard111 h1{
     font-size:2em;
 
}

.postcard112{
    height:80%;
    margin-left:20px;
    display:flex;
    align-items:center;
}

.postcard112 p{
    margin:0;
}
 
.postcard12{
    width:90%;
    height:70%;
    background-color:rgba(200, 204, 167, 0.3);
    border-radius:10px;
    margin-top:20px;
    padding:10px;
    overflow-y:scroll;
    color:white;
     
}

.postcard12 p{
    width:100%;
    height:100%;
}

.postadd{
    position:fixed;
    padding:10px 30px;
    border:0;
    bottom:25px;
    background-color:rgba(158, 171, 233, 0.747);
   
    left:45%;
    right:45%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.75s ease;
    
}

.postadd:hover{
    text-decoration: none;
    transform:scale(1.1);
    
}


.comments{
    width:100%;
    height:50%;
    background-color:rgba(6, 12, 27, 0.658);
    display: flex;
    flex-direction:column;
    align-items:center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.comments1{
    width:90%;
    height:90%;
    overflow-y:scroll;    
}

.comment{
    width:100%;
    height:170px;
    background:rgba(245, 243, 243, 0.679);
    border-radius: 7px;
    margin-top:20px;
    display:flex;
    flex-direction:column;
 
}

.commentsP{
    display: flex;
    width:10%;
    background:rgba(3, 5, 146, 0.575);
    border-radius:5px;
    margin:8px;
    z-index:600;
}

.commentsP p{
    margin:0;
    color:White;
    

}

.commentsc{
    width:90%;
    height:70%;
    border-radius:5px;
    background-color:white;
    margin-top:-10px;
    margin-left:8px;
    z-index:599;
    padding:7px;
}

.commentsc p{
    margin:0;
   
    
}

.formpostcardc{
    width:100%;
    height:100%;
}



.postcardtagc{
    padding:1px 10px;
    background:green;
    border-radius:5px;

}


.postadd2{
    position:fixed;
    padding:10px 80px;
    border:0;
    bottom:40px;
    background-color:rgba(121, 192, 121, 0.705);
    font-family:'Advent Pro',sans-serif;
    left:45%;
    right:45%;
    text-align:center;
    border-radius:3%;
    color:black;
    transition:0.75s ease;
    
}

.postadd2:hover{
    text-decoration: none;
    transform:scale(1.1);
    
} 



